<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">scripts/</directory>
            <directory suffix=".php">public/</directory>
            <exclude>
                <directory suffix="ConfigFactory.php">src/Ean/Management/</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
    	<testsuite name="Common">
    		<directory>test</directory>
    	</testsuite>
    </testsuites>
</phpunit>
